<div style="padding-top: 15px;">
  <%= link_to "â† Back to home", root_path %>
</div>

<div class="container">
  <div class="row" style="background-color: white; padding: 30px; margin: 20px; border-radius: 10px; box-shadow: 1px 2px lightgrey;">
    <div class="col-sm-4">
      <% if @pet.photo.key.present? %>
        <%= cl_image_tag @pet.photo.key, crop: :fill, style: "border-radius: 3px;", class: "show-image" %>
      <% else  %>
        <img src="https://pupuphooray.com/wp-content/uploads/2019/03/dog-icon.png" alt="dog icon" style="border-radius: 10px;">
      <% end %>
    </div>
    <div class="col-sm-8">
      <h1 class="dark-color"><%= @pet.name %></h1>
      <h2 class="theme-color lead">Breed: <%= @pet.breed.capitalize %> </h2>
      <p>"<%= @pet.description %>"</p>
      <div class="media">
        <label>Owner's name:</label><br>
        <p>&nbsp<%= @pet.user.name %></p>
      </div>
      <div class="media">
        <label>Average rating:&nbsp</label><br>
        <p> <%= @pet.average_rating %></p>
      </div>

      <%# book now form %>
      <div class="media">
          <div class="bg-white rounded p-3 shadow">
            <%= simple_form_for [@pet, @booking] do |f| %>
              <%= f.input :booking_date, input_html: { data: { flatpickr_target: "bookingDate" } } %>
              <%= f.submit class: "btn btn-info" %>
            <% end %>
          </div>
      </div>

    </div>
  </div>
</div>

<div style="padding:65px;">
  <div style="padding-left: 15px;">
    <h2>Reviews:</h2>
  </div>
  <ul class="list-group">
  <% unless @existing_reviews.empty? %>
    <% @existing_reviews.each do |review| %>
      <li class="list-group-item" style="margin: 10px; padding: 10px; border-radius: 10px; box-shadow: 1px 2px lightgrey; text-align: left;">
        <% review.rating.to_i.times do %>
          <i class="fas fa-star"></i>
        <% end %>
        <p><%= review.comment %></p>
      </li>
    <% end %>
    <% else %>
      <p>No reviews yet</p>
  <% end %>
</div>
