<div style="padding-top: 15px;">
  <%= link_to "â† Back to home", root_path %>
</div>
<section class="section about-section gray-bg" id="about" style="padding: 100px;">
  <div class="row align-items-center">
    <div class="col-lg-6 text-center">
        <% if @pet.photo.key.present? %>
          <%= cl_image_tag @pet.photo.key, crop: :fill, style: "border-radius: 10px;", class: "show-image" %>
        <% else  %>
          <img src="https://pupuphooray.com/wp-content/uploads/2019/03/dog-icon.png" alt="dog icon" style="border-radius: 10px;">
        <% end %>
    </div>
    <div class="col-lg-6">
      <div class="about-text go-to" style="background-color: lightgrey; padding: 30px; margin: 20px; border-radius: 10px; box-shadow: 1px 2px lightgrey;">
        <h1 class="dark-color"><%= @pet.name %></h1>
        <h2 class="theme-color lead">Breed: <%= @pet.breed.capitalize %> </h2>
        <p>"<%= @pet.description %>"</p>
        <div class="row about-list">
          <div class="col-md-6">
            <div class="media">
              <label>Owner's name:</label><br>
              <p>&nbsp<%= @pet.user.name %></p>
            </div>
            <div class="media">
              <label>Average rating:&nbsp</label><br>
              <p> <%= @pet.average_rating %></p>
            </div>
            <a href="<%= new_pet_booking_path(@pet) %>" class="btn btn-info">Book now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ul class="list-group">

<% if @booking.review.present? %>
  <% @bookings.each do |booking| %>
    <li class="list-group-item">
      <p><%= booking.review.comment %></p>
      <p><%= booking.review.rating %></p>
    </li>
  <% end %>
  <% else %>
    <p>No reviews yet</p>
<% end %>
