<div style="padding-top: 15px;">
  <%= link_to "â† Back to home", root_path %>
</div>

  <div class="container">
  <div class="row" style="background-color: white; padding: 30px; margin: 20px; border-radius: 10px; box-shadow: 1px 2px lightgrey;">
      <div class="col-sm-4">
        <% if @pet.photo.key.present? %>
        <%= cl_image_tag @pet.photo.key, crop: :fill, style: "border-radius: 3px;", class: "show-image" %>
        <% else  %>
        <img src="https://pupuphooray.com/wp-content/uploads/2019/03/dog-icon.png" alt="dog icon" style="border-radius: 10px;">
        <% end %>
      </div>
      <div class="col-sm-8">
        <h1 class="dark-color"><%= @pet.name %></h1>
        <h2 class="theme-color lead">Breed: <%= @pet.breed.capitalize %> </h2>
        <p>"<%= @pet.description %>"</p>
      <div class="media">
        <label>Owner's name:</label><br>
        <p>&nbsp<%= @pet.user.name %></p>
      </div>
      <div class="media">
        <label>Average rating:</label><br>
        <p>&nbsp /5</p>
      </div>
        <a href="<%= new_pet_booking_path(@pet) %>" class="btn btn-primary">Book now</a>
        // change this form to actually submit to create a booking
      </div>
    </div>
  </div>

  <div class="container">
  <div class="wrapper">
   <% @other_pets.each do |pet| %>
    <div class="col-sm">
      <div class="pet-card">
        <%# <img class="card-img-" src="https://pupuphooray.com/wp-content/uploads/2019/03/dog-icon.png" alt="cute dog"> %>
        <div>
          <% if pet.photo.key.present? %>
          <%= cl_image_tag pet.photo.key, height: 300 , width: 320 , crop: :fill %>
          <% else  %>
          <img src="https://pupuphooray.com/wp-content/uploads/2019/03/dog-icon.png" alt="dog icon">
          <% end %>
          </div>
        <div>
          <h2><%= link_to pet.name,  pet_path(pet) %></h2>
        </div>
        <div>
          <h3><%= pet.breed %></h3>
        </div>
            <div class="media">
      <label>Average rating:</label><br>
      <p>&nbsp /5</p>
      </div>
        <div style="white-space: nowrap; width: 17rem; overflow: hidden; text-overflow: ellipsis;">
         <%= link_to pet.description,  pet_path(pet)  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
