<h1>Booking Page - NEED TO UPDATE</h1>

<%# <%= link_to "accept", edit_booking_path(@booking, status: "accepted") %>
<%# <%= link_to "accept", edit_booking_path(@booking, status: "accepted") %>

<p class='text-success'>
  This works: Booking Date
  <%= @booking.booking_date %>
</p>
<p class='text-success'>
  This works: Booking Status
  <%= @booking.status %>
</p>
<p class='text-success'>
  This works: Pet Name
  <%= @booking.pet.name %>
</p>
<p class='text-danger'>
  This doesn't work yet
  <%= @owner.name %>
</p>
<p class='text-danger'>
  This doesn't work yet
  <%= @user.name %>
</p>
<p class='text-success'>
  This works: User Email
  <%= @booking.user.email %>
</p>
<p class='text-danger'>
  This doesn't work yet
  <%= @booking.pet.photo %>
</p>
<p class='text-success'>
  This works:  Pet Description
  <%= @booking.pet.description %>
</p>
<p>
  <% if policy(@booking).edit? %>
    <%= link_to "Edit this booking", edit_booking_path(@booking) %> |
  <% end %>
</p>
