<h2 class="col-lg-12 text-center py-3">Booking Status For <%= @pet.name %> </h2>
<section class="section about-section gray-bg" id="about" style="padding: 20px;">
  <div class="row align-items-center">
    <div class="col-lg-6 text-center">
        <% if @pet.photo.key.present? %>
          <%= cl_image_tag @pet.photo.key, crop: :fill, style: "border-radius: 10px;", class: "show-image" %>
        <% else  %>
          <img src="https://pupuphooray.com/wp-content/uploads/2019/03/dog-icon.png" alt="dog icon" style="border-radius: 10px;">
        <% end %>
    </div>
    <div class="col-lg-6">
      <div class="about-text go-to" style="background-color: lightgrey; padding: 10px; margin: 20px; border-radius: 10px; box-shadow: 1px 2px lightgrey;">
        <h1 class="dark-color"><%= @pet.name %></h1>
        <h2 class="theme-color lead">Breed: <%= @pet.breed.capitalize %> </h2>
        <p>"<%= @pet.description %>"</p>
        <div class="row about-list">
          <div class="col-md-6">
            <div class="media">
              <label>Owner's name:</label><br>
              <p>&nbsp <%= @owner.name %></p>
            </div>
            <div class="media">
              <label>Average rating:</label><br>
              <p>&nbsp /5</p>
            </div>
            <div class="media">
              <label>Booking Date:</label><br>
              <p>&nbsp <%= @booking.booking_date %> </p>
            </div>
            <p class="btn btn-info"><%= @booking.status.capitalize %></p>
            <p class="btn btn-light"><%= link_to "To see updates about your booking",  dashboard_path, class:"nav-link" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<h4>New review</h4>
<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>  <%= f.input :comment %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
  <%# redirect to pet show page %>
  <%= link_to "Back to pet", pet_path(@pet) %>
<% end %>


<%# <%= link_to "accept", edit_booking_path(@booking, status: "accepted") %>
<%# <%= link_to "accept", edit_booking_path(@booking, status: "accepted") %>
