<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<h1>Walk My Dog</h1>
<%= link_to "Put my Pet", new_path %>
<table>

  <tbody>
    <% @pets.each do |pets| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.image %></td>
        <td><%= link_to "Book now", pet %></td>
        <td><%= link_to "Cancel", booking, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
