<% if @user.pets == nil %>

<div class="container mx-8 my-4 px-4 py-4 bg-white border border-light">
  <h1 class="pb-4">Hi, <%= @user.name.capitalize %> </h1>

  <div class="col mb-4">
    <h3>Requests</h3>

    <ol class="list-group list-group-flush">
      <% @bookings.each do |booking| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="fw-bold"><%= booking.user.name %> Dog : <%= booking.pet.name %> - Date of booking : <%= booking.booking_date %></div>
          <div class="fw-light"><%= booking.user.email%></div>
            <%= simple_form_for(booking) do |f| %>
            <%= f.input :status, collection: ["pending", "accepted", "denied", "completed"] %>
            <%= f.submit class: "btn btn-dark btn-sm rounded-pill" %>
        </li>
        <% end %>
      <% end %>
    </ol>
  </div>
</div>


<% else %>

<div class="container mx-8 my-4 px-4 py-4 bg-white border border-light">
  <h1 class="pb-4">Hi, <%= @user.name.capitalize %> </h1>

  <div class="container inline-items mb-4">
    <h3> How are ? </h3>
      <% @pets.each do |pet| %>
      <div>
            <%= cl_image_tag pet.photo.key, crop: :fill, style: "border-radius: 50%", height: "120px" %>
            <%= pet.name %>
      </div>
    <% end %>
  </div>


  <div class="col mb-4">
    <h3>Requests about your dogs</h3>

    <ol class="list-group list-group-flush">
      <% @bookings.each do |booking| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="fw-bold"><%= booking.user.name %> Dog : <%= booking.pet.name %> - Date of booking : <%= booking.booking_date %></div>
          <div class="fw-light"><%= booking.user.email%></div>
            <%= simple_form_for(booking) do |f| %>
            <%= f.input :status, collection: ["pending", "accepted", "denied", "completed"] %>
            <%= f.submit class: "btn btn-dark btn-sm rounded-pill" %>
        </li>
        <% end %>
      <% end %>
    </ol>
  </div>

  <div class="col mb-4">
    <h3>Your requests to book other dogs</h3>

    <ol class="list-group list-group-flush">
      <% @bookings.each do |booking| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="fw-light"> The Dog you want to meet : <%= booking.pet.name %> - Date of booking : <%= booking.booking_date %></div>
          <p class="btn btn-info btn-sm rounded-pill"><%= booking.status.capitalize %></p>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<% end %>


<%# class="btn btn-warning btn-sm text-dark rounded-pill">Pending</span> %>
<%# <span class="btn btn-outline-success btn-sm rounded-pill">Accepted</span> %>
<%# <span class="btn btn-outline-danger rounded-pill">Denied</span> %>
<%# <span class="btn btn-light text-dark rounded-pill">Completed</span> %>
